/* ==================== PÁGINA DE REGISTRO ==================== */

.contenedor-pagina-registro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;

  background-image: url("../assets/principales/fondo.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contenedor-pagina-login::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
  z-index: 0;
}


/* Card reutilizando el sistema global */
.contenedor-formulario {
  width: 100%;
  max-width: 500px;
}


/* ==================== CONTRASEÑA ==================== */
.contenedor-contrasena {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}



/* ==================== TEXTO INFERIOR ==================== */
.texto-ya-tiene-cuenta {
  text-align: center;
  margin-top: 25px;
  width: 100%;
  font-size: var(--text-sm);
}

.regreso-login {
  color: var(--verde-ica);
  text-decoration: none;
  font-weight: bold;
}

.regreso-login:hover {
  text-decoration: underline;
}

/* ==================== RESPONSIVE ==================== */
@media (max-width: 600px) {
  .contenedor-formulario {
    width: 95%;
  }
}